<div class="my-2">
  <div class="flex items-center justify-between">
    <div class="flex items-center gap-4 mb-1">
      <%= image_tag Settings.user.default_avatar_url,
        alt: @post.user_name,
        class: "object-cover w-[60px] h-[60px] border rounded-full"
      %>
      <div>
        <h2 class="font-bold text-orange-500">
          <%= link_to @post.user_name, user_path(@post.user_id) %>
        </h2>
        <small class="text-sm text-gray-500"><%= time_ago_in_words @post.created_at %> trước</small>
      </div>
    </div>
    <% if @post.is_owner? current_user %>
      <div>
        <%= link_to t("post.update.title"), edit_post_path(@post), class: "text-white bg-blue-500 font-bold p-2 rounded" %>
        <%= link_to t("post.delete.title"), post_path(@post), data: { confirm: t("post.delete.confirm"), "turbo_method": :delete }, class: "text-white bg-red-500 font-bold p-2 rounded" %>
      </div>
    <% end %>
  </div>
  <div href="#" class="p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
      <p class="font-normal text-gray-700 dark:text-gray-400">
        <%= markdown @post.content %>
      </p>
  </div>
</div>
